#******************************************* MAKE BY *********************************************
#                                          yannis-mlgrn 
#   github : https://github.com/yannis-mlgrn/
#   repository : https://github.com/yannis-mlgrn/python-tools/
#
# ***********************************************************************************************

# requirement for use python tools
scapy  
python-nmap 
wheel
